<div class = "mainpage">
    <h1>Login Page</h1>
    <div class="logincard">
    
        <%= button_to "HR LOGIN", hrhomepage_path, method: :get, class:"lgnbtn" %>
        <%= button_to "EMPLOYEE LOGIN", employeehomepage_path, method: :get, class:"lgnbtn"%>
    </div>
</div>

